.card-img {
	max-height: 100%;
	opacity: 0.5;
	height: 225px;
}

.card {
	min-height: 310px;
	padding: 5px;
	max-width: 470px;
}

@media screen and (max-width: 1201px) {
    .card {
        min-width: 829px;
        max-height: 90%;
    }
    .card-img {
				height: auto;
				}
}

.card-content {
	height: 200px;
	padding: 15px !important;
}

.card-action {
	min-height: 77px;
}
