.about-image {
	width: 100%;
}

.course_section {
	margin-top: 20px;
}

.sponsor-img {
	width: auto;
	height: 60%;
	text-align: center;
	width: 60%;
	max-width: 300px;
}

.header-img {
	width: 100%;
}

.course_section .m6 {
	text-align: center;
}

.carousel-pic {
	max-width: 100%;
}

.btn {
	text-transform: none;
}

.carousel .carousel-item>img {
	width: 70%;
	position:absolute;
  top:0;
  bottom:0;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: -35%;
}
