.about-image {
	width: 100%;
}

.course_section {
	margin-top: 20px;
}

.sponsor-img {
	width: auto;
	height: 60%;
	text-align: center;
	width: 60%;
	max-height: 160px;
}

.header-img {
	width: 100%;
}

.course_section .m6 {
	text-align: center;
}

.carousel-pic {
	max-height: 381px;
}

.btn {
	text-transform: none;
}
