h3 {
  text-align: center;
}

h2 {
  text-align: center;
}

body {
  background: linear-gradient(#98cbf1, #020c1f);
}

.header-img {
  text-align: center;
}

dt {
  text-align: right;
  font-weight: bold;
}

@media only screen and (min-width: 993px) {
	.container {
		width: 85%;
	}
}
