h3 {
  text-align: center;
}

h2 {
  text-align: center;
}

body {
  background: linear-gradient(#E3F2FD, #4f607d);
}

.header-img {
  text-align: center;
}

dt {
  text-align: right;
  font-weight: bold;
}

